In [6]:
import pandas as pd
import numpy as np # thư viện cho tính toán nói chung
df = pd.read_csv('./data/elantra.csv')

In [7]:
df.tail(10)

    Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
40     10  2012         14512           7.8      257     256.389  231.652
41     10  2013         14876           7.2      223     243.374  233.782
42     11  2010          8631           9.8      161     219.303  219.544
43     11  2011         12414           8.6      255     247.092  227.136
44     11  2012         15923           7.8      246     248.136  231.190
45     11  2013         16751           7.0      231     242.301  234.033
46     12  2010         13096           9.4      170     227.190  220.437
47     12  2011         13025           8.5      253     243.015  227.093
48     12  2012         19024           7.9      275     244.698  231.099
49     12  2013         21692           6.7      279     246.189  234.594

In [12]:
df.sort_values(by='Month', ascending=True)
df.sort_values(by='Year', ascending=True)
df.reset_index(drop=True, inplace=True)

In [13]:
df.tail(20)

    Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
30      8  2010         15181           9.5      202     208.927  218.012
31      8  2011         15054           9.0      336     247.112  226.149
32      8  2012         17989           8.1      341     245.455  229.952
33      8  2013         24700           7.2      271     244.917  233.433
34      9  2010         10062           9.5      150     209.850  218.281
35      9  2011         14386           9.0      357     249.732  226.674
36      9  2012         18305           7.8      374     254.333  231.086
37      9  2013         19691           7.2      298     245.566  233.743
38     10  2010          9497           9.5      178     216.655  219.024
39     10  2011         13000           8.8      370     246.971  226.761
40     10  2012         14512           7.8      257     256.389  231.652
41     10  2013         14876           7.2      223     243.374  233.782
42     11  2010          8631           9.8      161     219.303  219.544
43     11  2011         12414           8.6      255     247.092  227.136
44     11  2012         15923           7.8      246     248.136  231.190
45     11  2013         16751           7.0      231     242.301  234.033
46     12  2010         13096           9.4      170     227.190  220.437
47     12  2011         13025           8.5      253     243.015  227.093
48     12  2012         19024           7.9      275     244.698  231.099
49     12  2013         21692           6.7      279     246.189  234.594